# Dependencies
node_modules/

# Build output
dist/*
!dist/design-tokens/
dist/design-tokens/*
!dist/design-tokens/*.json

# Logs
logs/
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db